<!-- For this html page we are referring angular 1.2.16 version as tehre is change in wrtining controller post 1.2.16 version -->

<!DOCTYPE html>
<html ng-app="">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="angular16.js"></script>
    <script>
        function x($scope) {
            $scope.clickCounter = 0;
            $scope.check = function () {
                $scope.clickCounter++;
            };
        }
    </script>
</head>
<body>
    <div ng-controller="x">
        <input type="checkbox"ng-model="model" ng-change="check()" id="text1"/>
        <label for="text1">I am first Checkbox</label> <br/>
        <input type="checkbox" ng-model="model" id="text2" />
      
        <label for="text2">I am working with Second Checkbox</label><br/>
        Checkbox are checked={{model}}<br/>
        <div>counter={{clickCounter}}</div>
   </div>
</body>
</html>
